body {
    background-color: #410737;
  }
  img {
    width: 500px;
    height: 500px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: rgb(208, 230, 14);
  }
  
  span {
    font-size: 5em;
  }
  
  button {
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    background-color: #f67e6e;
    text-transform: uppercase;
  }